@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #dfe1d9;
}
@keyframes fade {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.3s ease-out;
}

